<h1> Articles listing page </h1>

<table>
<thead>
  <tr>
<th>Title</th>
<th>Description</th>
<th> Created </th>
<th> Updated </th>
<th>Actions></th>
</tr>
</thead>

<tbody>

<% @articles.each do |article| %>
  <tr>
<th><%= article.title %> </th>
<th><%= article.description %></th>
<th><%= article.created_at %></th>
<th><%= article.updated_at %></th>
<th>placeholder</th>
</tr>
<% end %>
</tbody>
  </table>
